[user]
	name = Scott Walter
	email = scott@scottwalter.com
[core]
	quotepath = false
	autocrlf = false
	safecrlf = false
	hooksPath = ~/.git-hooks
	excludesfile = ~/.gitignore


[merge]
	conflictstyle = diff3

[diff]
        tool = difftastic

[difftool]
        prompt = false

[difftool "difftastic"]
        cmd = difft "$LOCAL" "$REMOTE"

[pager]
        difftool = true


[alias]
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
	br = branch
	branches = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes
	co = checkout
	ct = commit
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	st = status
	unpushed = !GIT_CURRENT_BRANCH=$(git name-rev --name-only HEAD) && git log origin/$GIT_CURRENT_BRANCH..$GIT_CURRENT_BRANCH --oneline
	get-remote = config --get remote.origin.url
	set-remote = remote set-url origin
	fetch-merge = !git fetch origin master && git merge origin/master
	fetch-master = !git fetch origin master && git merge origin/master
	fetch-main = !git fetch origin main && git merge origin/main
	logs = log --graph --oneline --decorate --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	add-commit = !git add -A && git commit -m
	cleanup = clean -f -d
	wip = !git add . && git commit --no-verify -m \"wip\"

[push]
	default = matching
	autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = osxkeychain
[init]
	defaultBranch = main

[includeIf "hasconfig:remote.*.url:https://github.com/nice-cxone/**/*"]
	path = ~/.gitconfig-nice

[includeIf "hasconfig:remote.*.url:https://scottfwalter:*/scottfwalter/**/*"]
	path = ~/.gitconfig-personal
